.contact-header {
    background: url("../assets/contact-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.contact-title h1 {
    font-size: 5rem;
}








// .contact-main {
//     display: flex;
// }

// .contact-container {
//     display: flex;
//     flex-direction: column;   
//     justify-content: center;
//     align-items: center;
//     width: 100%;
// }

// .social-icons ul {
//     display: flex;
//     list-style: none;
// }

// .social-icons ul li {
//     margin-right: 15px;
//     font-size: 1.59rem;
// }

// .social-icons,
// .info-email {
//     margin-bottom: 15px;
// }

// .address {
//     margin-top: 15px;
// }

// // .contact-title {
// //     width:100%;
// //     position: absolute;
// //     top: -400px;
// //     right: 40px;
// //     width: 274%;
// // }

// // .contact-container-2 {
// //     position: relative;
// // }

// // .green-form form {
// //     background: #0F614E;
// // }

// // .green-form,
// // textarea{
// //     background: #0F614E;
// // }

// // textarea,
// // .green-form input {
// //     background: #0F614E;
// // }

// // .green-form {
// //     width: 151%;
// //     height: 119%;
// //     position: absolute;
// //     top: -264px;
// //     right: 600px;

// // }






// // font-family: 'Barlow', sans-serif;
// // font-family: 'Lato', sans-serif;
// // COLOR: 
// // ROBIN EGG BLUE 86E0F9
// // SPRUCE GREEN 0F614E
// // DARK BLUE GREY 0C1423