// font-family: 'Barlow', sans-serif;
// font-family: 'Lato', sans-serif;
// COLOR: 
// ROBIN EGG BLUE 86E0F9
// SPRUCE GREEN 0F614E
// DARK BLUE GREY 0C1423



.blog-header {
    background-image: url("../assets/blog-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
    
}





