// HEADER & NAVIGATION SECTION
img {
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 129px;
}

nav ul li {
    padding: 10px 10px;
    list-style: none;
}

nav ul li a {
    font-size: $body-size;
    letter-spacing: 1px;
}

nav ul li a:hover,
nav ul li a:focus {
    color: $light-blue;
}

.index-header {
    background-image: url("../assets/header-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    
}

a,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    color: white;
}

h1 {
    @include fontStyle(13.8rem, 126px, 0, white);
    padding-top: 0;
    width: 25%;
    position: absolute;
    left: 99px;
    top: 20px;
}

.index-title {
    width: 28%;
}

.hero-banner {
    position: relative;
}

.hero-banner img {
    width: 58%;
    position: absolute;
    right: 0;
    top: 52px;
}

