// font-family: 'Barlow', sans-serif;
// font-family: 'Lato', sans-serif;
// COLOR: 
// ROBIN EGG BLUE 86E0F9
// SPRUCE GREEN 0F614E
// DARK BLUE GREY 0C1423

img {
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

nav ul li {
    padding: 10px 10px;
}

nav ul li a {
    font-size: 1.25rem;
    letter-spacing: 1px;
}

header {
    background-image: url("../assets/header-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    
}

h1,
a,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    color: white;
}


h1 {
    font-size: 8.625rem;
    line-height: 126px;
    width: 34%;
}

.hero-banner h1 {
    height:10px;
    padding-top: 31px;
}

.hero-banner {
    position: relative;
}

.hero-banner img {
    width: 68%;
    position: absolute;
    right: -92px;
    top: 52px;

}

