// CONTACT FORM
.get-in-touch,
.form-container {
    border: 2px solid #0F614E;
    background: #0F614E;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 61%;
    padding: 20px 0;
    padding-left: 31px;
    box-shadow: -32px 30px #86E0F9;
}

.form-name {
    margin-right: 45px;
}
.get-in-touch input[type=text],
.get-in-touch input[type=email],
select {
    height: 48px;
    padding: 0 13px;
    width: 43%;
    margin: 10px 0;
    border:0;
    border-bottom: 2px solid #86E0F9;
    color: white;
    background: #0F614E;
}

.get-in-touch textarea {
    border:0;
    border: 2px solid #86E0F9;
    color: white;
    background: #0F614E;
    resize: none;
    margin: 20px 0;
    padding: 15px;
}

.get-in-touch textarea:hover,
.get-in-touch textarea:focus {
border: 2px solid #0C1423;
}

.get-in-touch input[type=text]:hover,
.get-in-touch input[type=email]:hover {
    border-bottom: 2px solid #0C1423;
}

.form-container button {
    background: #0C1423;
    border: 1px solid #0C1423;
    color: white;
    width: 90%;
    height: 45px;
    text-transform: uppercase;
}

.form-container button:hover,
.form-container button:focus {
    background: #86E0F9;
    border: 1 solid #86E0F9;
    color: #0C1423;
}

.contact-container {
    position: relative;
}

.contact-title,
.form-container {
    position: absolute;
}

.contact-title {
    top: -380px;
    left: 390px;
}

.form-container {
    top: -272px;
    right: 99px;
}

//CONTACT INFO START

div ul {
    list-style: none;
    padding: none;
    margin:none;
}

.social-icons ul {
    display: flex;
    padding: 0
}

.social-icons {
    color: white;
    font-size: 20px;
    padding-right: 25px;
}

.social-icons i:hover,
.social-icons i:focus {
    color: #86E0F9;
}
.info-email h2:hover {
    color: #86E0F9;
}
.address p{
    padding: 0;
    margin: 3px;
    line-height: 20px;
}

.contact-aside {
    padding: 98px 0;
    margin-left: 61px;
    padding: 197px 0 99px 0;

}

.info-email h2 {
    font-size: 1.25rem;
}


.side-panel {
    margin-bottom: 120px;
    
}
