aside {
    display: flex;
    flex-direction: column; 
}

.whale-info {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    background: #0F614E;
    width: 65%;
}
.side-whale-image {
    padding-top:50px;
}

.side-whale-image img {
    width: 65%;
    box-shadow: 25px 100px #0F614E;
}

.bottom-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

aside p,
aside ul,
aside h4 {
    padding: 0;
    margin: 0;
}

.topHalf {
    display: flex;
}

article {
    display: flex;
    flex-direction: column;
    width: 84%;
    position: relative;
}

.bottom-info ul {
    margin-left: 34px;
}


.article-image img {
    width: 100%;
    box-shadow: -17px 25px #86E0F9;
}

.bottom-half {
    display: flex;
    flex-direction: column;
}

.article-main-text {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #86E0F9;
    border-bottom: 2px solid #86E0F9;
    margin-left: -17px;
    padding-top: 30px;
}

.discovery {
    position: absolute;
    top: -280px;
}

.topHalf {
    padding-bottom: 500px;
}

.comment-container {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}

.comments {
    display: flex;
    justify-content: center;

}

.comments h4 {
    margin-left: 90px;
}

.comment-one {
    margin-bottom: 40px;
}
.comment-one, 
.comment-two {
    display: flex;
    justify-content: flex-end;
    margin-left: -124px
}

.comment-text,
.comment-text-two {
    width: 35%;
    margin-left: 25px;
}

.comment-text p,
.comment-text-two p{
    margin-top: 0;
}

.commenters {
    margin-top: 5px;
}

.comment-two {
    margin-bottom: 30px;
}

.comment-name {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.comment-name input {
    background-color: #0C1423;
    border: none;
    border-bottom: 1px solid #86E0F9;
    color: white;
    margin-left: 5px;
    width: 264px;
}

.comment-text-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.comment-text-area form {
    display: flex;
    justify-content: flex-end;
}

textarea {
    background: #0C1423;
    border: 1px solid #86E0F9;
    color: white;
    resize: none;
    margin-bottom: 10px;
}

.comment-text-area button {
    width: 50%;
    margin-left: 541px;
    background: #0F614E;
    border: 1px solid #0F614E;
    color: white;
}

.comment-text-area button:hover,
.comment-text-area button:focus {
    background: #86E0F9;
    border: 1px solid #86E0F9;
}



.comment-container {
    margin-bottom: 40px;
}
