.discovery-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin-bottom: 600px;
}

.discovery-header {
    font-size: 5rem;
}

.discovery-image img {
    width: 100%;
    box-shadow: -24px 25px #86E0F9;
}

.discovery-text {
    border-left: 5px solid #86E0F9;
    border-bottom: 5px solid #86E0F9;
    width: 42%;
}

.discovery-text p {
    width: 113%;
}

.discovery-header,
.discovery-image,
.discovery-text {
    position: absolute;
}

.discovery-header {
    top: -403px;
    right: 412px;
}

.discovery-image {
    top: -318px;
    right: 0;
    width: 55%;
}
.discovery-text {
    top: 177px;
    right: 188px;
}


.whale-container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    position: relative;
    margin-bottom: 300px;
}

.whale-aside-image {
    position: absolute;
    top: -475px;
    left: 0;
}

.whale-aside-image img {
    width: 80%
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #0f614e;
    height: 700px;
    width: 250px;
    position: absolute;
    top: -453px;
    left: 182px;
    z-index: -1;
}

.bottom-info ul {
    margin: 0;
    list-style: circle;
}

.top-info {
    margin-bottom: 10px;
}



.top-info p,
h4 {
    margin: 0;
    padding: 0;
}

.bottom-info {
    display: flex;
    flex-direction: column;
}

.comment-heading {
    position: absolute;
    top: 1px;
    right: 617px;

}

.commentary {
    display: flex;
    flex-direction: column;
    align-items: flex-end ;
    position: relative;
    margin-bottom: 450px;
}

.comment-1,
.comment-2 {
    display: flex;
    width: 57%;
}

.comment-1 {
    margin-top: 45px;
}
.comment-text,
.comment-text-2 {    
    margin-left: 20px;
    width: 70%;
}

.post-comment input[type=text] {
    width: 50%;
}

.post-comment input[type=email] {
    width: 49%;
}

.post-comment input[type=text],
.post-comment input[type=email],
select {
    background: #0C1423;
    color: white;
    border: none;
    border-bottom: 2px solid #86E0F9;
    margin-bottom: 10px;
}

.post-comment button {
    background: #0f614e;
    color: white;
    border: 2px solid #0f614e;
}



.post-comment {
    position: absolute;
    bottom: -425px;
    right: 101px;
    width: 49%;
}


.post-comment textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #0C1423;
    border: 2px solid #86E0F9;
    color: white;
    padding: 10px;
    resize: none;
}

.post-comment button {
    width: 100%;
    height: 27px;
}








// ROBIN EGG BLUE 86E0F9
// SPRUCE GREEN 0F614E
// DARK BLUE GREY 0C1423

// aside {
//     display: flex;
//     flex-direction: column; 
// }

// .whale-info {
//     display: flex;
//     flex-direction: column;
//     margin-left: 25px;
//     background: #0F614E;
//     width: 65%;
// }
// .side-whale-image {
//     padding-top:50px;
// }

// .side-whale-image img {
//     width: 65%;
//     box-shadow: 25px 100px #0F614E;
// }

// .bottom-info {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
// }

// aside p,
// aside ul,
// aside h4 {
//     padding: 0;
//     margin: 0;
// }

// .topHalf {
//     display: flex;
// }

// article {
//     display: flex;
//     flex-direction: column;
//     width: 84%;
//     position: relative;
// }

// .bottom-info ul {
//     margin-left: 34px;
// }


// .article-image img {
//     width: 100%;
//     box-shadow: -17px 25px #86E0F9;
// }

// .bottom-half {
//     display: flex;
//     flex-direction: column;
// }

// .article-main-text {
//     display: flex;
//     flex-direction: column;
//     border-left: 2px solid #86E0F9;
//     border-bottom: 2px solid #86E0F9;
//     margin-left: -17px;
//     padding-top: 30px;
// }

// .discovery {
//     position: absolute;
//     top: -280px;
// }

// .topHalf {
//     padding-bottom: 500px;
// }

// .comment-container {
//     display: flex;
//     flex-direction: column;
//     margin-top: 26px;
// }

// .comments {
//     display: flex;
//     justify-content: center;

// }

// .comments h4 {
//     margin-left: 90px;
// }

// .comment-one {
//     margin-bottom: 40px;
// }
// .comment-one, 
// .comment-two {
//     display: flex;
//     justify-content: flex-end;
//     margin-left: -124px
// }

// .comment-text,
// .comment-text-two {
//     width: 35%;
//     margin-left: 25px;
// }

// .comment-text p,
// .comment-text-two p{
//     margin-top: 0;
// }

// .commenters {
//     margin-top: 5px;
// }

// .comment-two {
//     margin-bottom: 30px;
// }

// .comment-name {
//     display: flex;
//     justify-content: flex-end;
//     margin-bottom: 15px;
// }

// .comment-name input {
//     background-color: #0C1423;
//     border: none;
//     border-bottom: 1px solid #86E0F9;
//     color: white;
//     margin-left: 5px;
//     width: 264px;
// }

// .comment-text-area {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
// }

// .comment-text-area form {
//     display: flex;
//     justify-content: flex-end;
// }

// textarea {
//     background: #0C1423;
//     border: 1px solid #86E0F9;
//     color: white;
//     resize: none;
//     margin-bottom: 10px;
// }

// .comment-text-area button {
//     width: 50%;
//     margin-left: 541px;
//     background: #0F614E;
//     border: 1px solid #0F614E;
//     color: white;
// }

// .comment-text-area button:hover,
// .comment-text-area button:focus {
//     background: #86E0F9;
//     border: 1px solid #86E0F9;
// }



// .comment-container {
//     margin-bottom: 40px;
// }