// BLOG MEDIA QUERIES 

@media (max-width: 1065px) {

    .whale-container {
        display: none;
    }


    .discovery-container {
        align-items: center;
    }

    .discovery-image {
        top: 0;
    }

    .discovery-text {
        top: 0;
        left: 0;
        border: none;
        width: 30%;
    }

    .commentary {
        margin-bottom: 655px;
    }

    .comment-heading {
        top: -177px;
        right: 476px;
    }

    .comment-1 {
        margin-top: -84px;
    }

    .comment-2 {
        margin-bottom: 50px;
    }

    .post-comment textarea {
        width: 100%;
    }

    .post-comment input[type=text],
    .post-comment input[type=email],
    select {
        margin: 20px 0;
    }


}
@media (max-width: 940px) {

    .discovery-text p {
        display: none;
    }

    .discovery-text {
        width: 100%;
        font-size: 3rem;
        text-align: center;
        margin-top: 35px
    }

    .discovery-image {
        width: 70%;
        right: 100px;
        top: 100px;
    }

.comment-heading {
    position: static;
}

.commentary {
    align-items: center;
    position: static;
    margin-bottom: 50px;
}

.post-comment {
    position: static;
}

.comment-1,
.comment-2 {
    margin: 0;
    width: 80%;
}

}
@media (max-width:786px) {
    .post-comment input[type=text] {
        width: 45%;
    }
    
    .post-comment input[type=email] {
        width: 50%;
    }
}
@media (max-width: 480px) {


    .discovery-image {
        right: 60px;
    }

    .discovery-container {
        margin-bottom: 338px;
    }

    .p2 {
        display: none;
    }

    .post-comment {
        width: 85%;
    }

    .discovery-header {
        bottom: 0;
        right: 0;
    }

    nav {
        display: none;
    }
}