html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  line-height: 32px;
  font-weight: 300;
  background: #0c1423;
  color: white;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
button {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}

h3 {
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 129px;
}

nav ul li {
  padding: 10px 10px;
  list-style: none;
}

nav ul li a {
  font-size: 2rem;
  letter-spacing: 1px;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #86E0F9;
}

.index-header {
  background-image: url("../assets/header-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

a,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  color: white;
}

h1 {
  font-size: 13.8rem;
  line-height: 126px;
  letter-spacing: 0;
  color: white;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 0;
  width: 25%;
  position: absolute;
  left: 9px;
  top: 20px;
}

.index-title {
  width: 28%;
}

.hero-banner {
  position: relative;
}

.hero-banner img {
  width: 68%;
  position: absolute;
  right: -92px;
  top: 52px;
}

.blog-header {
  background-image: url("../assets/blog-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
}

.contact-header {
  background: url("../assets/contact-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.contact-title h2 {
  font-size: 8rem;
  line-height: 92px;
  letter-spacing: 0;
  color: white;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.under-the-sea-container {
  padding-top: 50px;
}

.under-the-sea {
  margin-top: 150px;
  margin-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.under-the-sea h3,
.month-profile-text h3 {
  font-size: 4.2rem;
  line-height: 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.under-the-sea p {
  width: 934px;
}

.under-the-sea button {
  background-color: #86E0F9;
  border: 2px solid #86E0F9;
  padding: 5px 8px;
}

.under-the-sea button:hover,
.under-the-sea button:focus {
  background-color: #0F614E;
  border: 2px solid #0F614E;
}

.under-the-sea a {
  color: #0C1423;
  padding: 5px 5px;
}

.new-additions-container {
  background: #0F614E;
}

.new-additions-image,
.meet-real-nemo-text {
  float: left;
  width: 45%;
}

.new-additions-container {
  padding-bottom: 35px;
}

.new-additions {
  margin-bottom: 35px;
}

.new-additions-image img {
  -webkit-box-shadow: 37px 25px #86E0F9;
          box-shadow: 37px 25px #86E0F9;
}

.new-additions-image {
  position: relative;
}

.new-additions-text h4 {
  margin-bottom: 34px;
}

.new-additions-image img {
  position: absolute;
  top: -25px;
  left: 0;
}

.new-additions-text {
  margin-top: 55px;
}

.new-additions-text p {
  margin-top: 30px;
  width: 90%;
}

.new-additions-text h4 {
  margin: 0;
}

.new-additions-text,
.meet-real-nemo-image {
  float: right;
  width: 45%;
}

.new-additions-container button {
  background: #0C1423;
  border: 2px solid #0c1423;
  padding: 5px 8px;
}

.new-additions-container button:hover,
.new-additions-container button:focus {
  background-color: #86E0F9;
  border: 2px solid #86E0F9;
}

.new-additions-container a:hover,
.new-additions-container a:focus {
  color: #0C1423;
}

.meet-real-nemo-image img {
  -webkit-box-shadow: -37px 36px #86E0F9;
          box-shadow: -37px 36px #86E0F9;
}

.new-additions h4,
.meet-real-nemo-text h4,
.socials h4 {
  font-size: 3.2rem;
  line-height: 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.meet-real-nemo-text h4 {
  text-align: right;
  width: 100%;
}

.meet-real-nemo-image {
  position: relative;
}

.meet-real-nemo-image img {
  position: absolute;
  top: 92px;
}

.meet-real-nemo-text p {
  margin-left: 98px;
  padding-top: 20px;
}

.meet-real-nemo-text {
  text-align: right;
  margin-top: 95px;
}

.fas {
  font-size: 2rem;
  background: #86E0F9;
  color: #0C1423;
  border: 10px solid #86E0F9;
  border-radius: 50%;
}

.fas:hover,
.fas:focus {
  background: #0C1423;
  color: #0F614E;
  border: 10px solid #0C1423;
}

.socials {
  width: 48%;
  float: left;
  margin: 1%;
}

.socials i {
  margin-top: -21px;
}

.socials i, h4 {
  float: left;
}

p {
  clear: both;
}

.socials h4 {
  padding-left: 13px;
}

.social-main {
  padding-top: 120px;
  padding-bottom: 50px;
}

.whale-banner {
  background-image: url("../assets/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.month-profile-image {
  width: 100%;
}

.month-profile-text {
  margin-left: 103px;
}

.month-profile-text h3 {
  margin-top: 37px;
}

.month-profile-image img {
  -webkit-box-shadow: 25px 25px #86E0F9;
          box-shadow: 25px 25px #86E0F9;
}

.month-profile-text button {
  background: #86E0F9;
  border: 2px solid #86E0F9;
  padding: 5px 8px;
}

.month-profile-text button:hover {
  background: #0F614E;
  border: 2px solid #0F614E;
}

.month-profile-text a {
  color: #0C1423;
}

.photo-gallery-container {
  background: #0F614E;
}

.photo-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0;
}

.photo-gallery img {
  width: 93%;
}

footer {
  background: #86E0F9;
}

footer p {
  margin: 0;
  text-align: center;
}

footer p a {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  line-height: 32px;
  font-weight: 300;
  color: #0C1423;
  text-transform: capitalize;
}

.discovery-header {
  font-size: 80rem;
  line-height: 92px;
  letter-spacing: 0;
  color: white;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.discovery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin-bottom: 600px;
}

.discovery-header {
  font-size: 5rem;
}

.discovery-image img {
  width: 100%;
  -webkit-box-shadow: -24px 25px #86E0F9;
          box-shadow: -24px 25px #86E0F9;
}

.discovery-text {
  border-left: 5px solid #86E0F9;
  border-bottom: 5px solid #86E0F9;
  width: 42%;
  padding-left: 30px;
}

.discovery-text p {
  width: 113%;
}

.discovery-header,
.discovery-image,
.discovery-text {
  position: absolute;
}

.discovery-header {
  top: -403px;
  right: 511px;
}

.discovery-image {
  top: -318px;
  right: 0;
  width: 55%;
}

.discovery-text {
  top: 177px;
  right: 188px;
}

article h4 {
  margin: 0;
  padding: 0;
}

.whale-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  position: relative;
  margin-bottom: 475px;
}

.whale-aside-image {
  position: absolute;
  top: -475px;
  left: 0;
}

.whale-aside-image img {
  width: 80%;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #0F614E;
  height: 700px;
  width: 250px;
  position: absolute;
  top: -428px;
  left: 182px;
  z-index: -1;
}

.bottom-info ul {
  margin: 0;
  padding-left: 24px;
  list-style: circle;
}

.top-info {
  margin-top: -8px;
}

.top-info h4 {
  margin-bottom: 2px;
}

.top-info p {
  margin: 0;
}

.bottom-info h4 {
  margin-bottom: 6px;
}

.bottom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-heading {
  position: absolute;
  top: -29px;
  right: 617px;
}

.commentary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin-bottom: 450px;
}

.comment-1,
.comment-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 57%;
}

.comment-1 {
  margin-top: 45px;
}

.comment-text,
.comment-text-2 {
  margin-left: 20px;
  width: 70%;
}

.post-comment input[type=text] {
  width: 50%;
}

.post-comment input[type=email] {
  width: 49%;
}

.post-comment input[type=text],
.post-comment input[type=email],
select {
  background: #0C1423;
  color: white;
  border: none;
  border-bottom: 2px solid #86E0F9;
  margin-bottom: 10px;
}

.post-comment button {
  background: #0F614E;
  color: white;
  border: 2px solid #0F614E;
}

.post-comment button:hover,
.post-comment button:focus {
  background: #86E0F9;
  color: white;
  border: 2px solid #86E0F9;
}

.post-comment {
  position: absolute;
  bottom: -425px;
  right: 101px;
  width: 49%;
}

.post-comment textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #0C1423;
  border: 2px solid #86E0F9;
  color: white;
  padding: 10px;
  resize: none;
}

.post-comment button {
  width: 100%;
  height: 27px;
}

.get-in-touch,
.form-container {
  border: 2px solid #0F614E;
  background: #0F614E;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 61%;
  padding: 20px 0;
  padding-left: 31px;
  -webkit-box-shadow: -32px 30px #86E0F9;
          box-shadow: -32px 30px #86E0F9;
}

.form-name {
  margin-right: 45px;
}

.get-in-touch input[type=text],
.get-in-touch input[type=email],
select {
  height: 48px;
  padding: 0 13px;
  width: 43%;
  margin: 10px 0;
  border: 0;
  border-bottom: 2px solid #86E0F9;
  color: white;
  background: #0F614E;
}

.get-in-touch textarea {
  border: 0;
  border: 2px solid #86E0F9;
  color: white;
  background: #0F614E;
  resize: none;
  margin: 20px 0;
  padding: 15px;
}

.get-in-touch textarea:hover,
.get-in-touch textarea:focus {
  border: 2px solid #0C1423;
}

.get-in-touch input[type=text]:hover,
.get-in-touch input[type=email]:hover {
  border-bottom: 2px solid #0C1423;
}

.form-container button {
  background: #0C1423;
  border: 1px solid #0C1423;
  color: white;
  width: 90%;
  height: 45px;
  text-transform: uppercase;
}

.form-container button:hover,
.form-container button:focus {
  background: #86E0F9;
  border: 1 solid #86E0F9;
  color: #0C1423;
}

.contact-container {
  position: relative;
}

.contact-title,
.form-container {
  position: absolute;
}

.contact-title {
  top: -380px;
  left: 390px;
}

.form-container {
  top: -272px;
  right: 99px;
}

div ul {
  list-style: none;
  padding: none;
  margin: none;
}

.social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.social-icons i {
  color: white;
  font-size: 20px;
  padding-right: 25px;
}

.social-icons i:hover,
.social-icons i:focus {
  color: #86E0F9;
}

.info-email h2:hover {
  color: #86E0F9;
}

.address p {
  padding: 0;
  margin: 3px;
  line-height: 20px;
}

.contact-aside {
  padding: 98px 0;
  margin-left: 61px;
  padding: 197px 0 99px 0;
}

.info-email h2 {
  font-size: 1.25rem;
}

.side-panel {
  margin-bottom: 120px;
}
